################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/MARINEYE
/MARINEYE/obj
/MARINEYE/bin/Debug/net8.0
