@using MARINEYE.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<MARINEYEUser> SignInManager
@inject UserManager<MARINEYEUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">WITAMY</h1>
@if (User.IsInRole(Constants.MainAdminRole)) 
{
    <p>Witaj adminie!</p>
}
else if (User.IsInRole("Bosman") || User.IsInRole("Członek")) {
    <p>Witaj klubowiczu!</p>
} else {
    <p>Witaj przybyszu!</p>
}
    <img src="~/sail.webp" width="25%" height="25%" /><br><br>
    <p style="text-align: left;">
        Na naszej przystani znajdziesz szeroką gamę jednostek pływających – od luksusowych jachtów po szybkie motorówki.
        Możesz sprawdzić szczegóły dotyczące każdej łodzi i wybrać tę, która najlepiej odpowiada Twoim potrzebom.
        </p>

    <p style="text-align: left;">
        Aby skorzystać z pełnej funkcjonalności naszego systemu, zaloguj się lub załóż konto.
        Jako zalogowany użytkownik możesz rezerwować łodzie, zarządzać swoim kontem i korzystać z dodatkowych usług.
    </p>
</div>
